.todo-list-item
{
    margin: 0px 80px;
    font-family: monospace;
}

.item
{
    width: 500px;
}

.buttons
{
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 0px; 
    margin: auto 20px;
}